.App {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

.header {
  width: 327px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.btn{
  outline: none;
  border: none;
  background: none;
}

.todo-input
{
  height: 48px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 30px;
  font-size: 16px;
}



.wrapper.dark input{
  background-color: #25273D;
  color: #C8CBE7;
  outline: none;
}

.wrapper.dark .lists{
  background-color: #25273D;
  color: #C8CBE7;
  outline: none;
}

.wrapper.dark .list{
  color: #C8CBE7;
  outline: none;
}

.list-features{
  width: 327px;
  border-radius: 5px;
  background-color: blue;
  
}

.lists {
  height: 48px;
  width: 327px;
  border-radius: 5px;
  background-color: #fff;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e3e4f1;
}

.check-icon {
  margin-left: 20px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #d1d2da;
}

.checked-icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}

.check-icon svg {
  margin: 5px auto;
}


.check-btn {
  border: none;
  background: none;
}

.list {
  padding-left: 12px;
  font-size: 12px;
  font-weight: 400;
  color: #494c6b;

}

.left-box {
  display: flex;
  position: relative;
}

.remove-icon {
  padding-right: 20px;
}

.complited {
  color: #d1d2da;
  text-decoration: line-through;
}


.footer-one{
  height: 48px;
  width: 327px;
  border-radius: 5px;
  font-size: 10px;
  color: #9495A5;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  padding: 20px;
}

.wrapper.dark .footer-one{
  background-color: #25273D;
}

.featured-div{
  display: flex;
  flex-direction: column;
}

.footer-two{
  height: 48px;
  width: 327px;
  border-radius: 5px;
  background-color: white;
  font-size: 12px;
  color: #9495A5;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #FFF;
  padding: 20px;
  margin-top: 16px;
}

.input{
  display: flex;
  height: 48px;
  width: 327px;
  border-radius: 5px;
  border: none;
  margin-top: 45px;
  margin-bottom: 20px;
  background-color: white;
}

.input >.check-btn{
  margin-top: 8px;
}

@media (min-width: 768px) {
  .header,
  .input,
  .footer-one,
  .lists{
    width: 540px;
  }

  .footer-two{
    font-weight: bold;
    height: 45px;
    width: 300px;
    margin-top: -45px;
    margin-left: 109px;
  }
}

